
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.pdf
*.doc
*.docx
*.o
*.a
*.png
**.stash
moc_*.*
ui_*.h
ui_*.cpp
users*~*
Makefile
*.rar
*.zip
*.Z
object_script.*
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/Lab_1/math/desktop.ini
/Lab_1/IRTS_1/igu18854_00.sp3
/Lab_1/IRTS_1/gls10550.16n
